.section-principal{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 65% 35% ;
    grid-template-areas: 
    "box1 box2 "
    "box3 box2 ";
}

.new-post{
    grid-area: box1;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    gap: 22px;
}

.asside-follower-suggestion{
    grid-area: box2; 
}


.follower-suggestion{
    width: 90%;
    position: sticky;
    top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-card-profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posts{
    grid-area: box3;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list-posts{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* ------------------------------------------------------------ */
    
    @media(max-width: 900px){
        .section-principal{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
            "box1 "
            "box2 "
            "box3";
            }

            .follower-suggestion{
                margin: none;
                width: 80%;
                height: 200px;
                position: static;
            }    

            .container-card-profile{
                width: 100%;
                flex-direction: row;
                gap: 40px;
                overflow-x: auto;
                height: 110px;
            }
            
            /* ---------------------------- */
            .card-profile{
      
                display: flex;
                flex-direction: column;
            }
            .card-profile-box-internal-left{
                width: 230px;
               
            }

            /* ------------------------------------- */
            .modal{
                margin-top: 50px;
            }

      }