.bg-color-transparent{
    background-color: transparent;
}
.bg-color-primary{
background-color: var(--color-primary);
}

.bg-color-secondary{
    background-color: var(--color-secondary);
}

.bg-color-white-fixed{
    background-color: var(--color-white-fixed);
}

.bg-color-color-grey-opacity-1{
    background-color: var(--color-grey-opacity-1);
}

.bg-color-grey-0{
 background-color: var(--color-grey-0);
}

.bg-color-grey-1{
    background-color: var(--color-grey-1);
}

.bg-color-grey-2{
    background-color: var(--color-grey-2);
}

.bg-color-grey-3{
    background-color: var(--color-grey-3);
}

.bg-color-grey-4{
    background-color: var(--color-grey-4);
}

.bg-color-grey-5{
    background-color: var(--color-grey-5);
}



.txt-color-primary{
    color: var(--color-primary);
}

.txt-color-grey-0{
    color: var(--color-grey-0);
}

.txt-color-grey-1{
    color: var(--color-grey-1);
}

.txt-color-grey-2{
    color: var(--color-grey-2);
}

.txt-color-grey-3{
    color: var(--color-grey-2);
}


.txt-color-white-fixed{
    color: var(--color-white-fixed);
}