.navbar{
    width: 1200px;
    max-width: 100%;
    color: var(--color-white-fixed);
    background-color: var(--color-grey-1);
    padding: 24px 0;
    position: fixed;
}

.navbar-items{
    padding: 0px 64px;
}

.navbar-option{
    color: var(--color-white-fixed);
    height: 32px;
    padding: 8px;
    border: none;
    border-radius: var(--radius-1);
    text-decoration: none;
    cursor: pointer;
}

.navbar-option:hover, .navbar-option.actived{
    background-color: var(--color-grey-2);
}